/* ------------------------------------------------
* Project Name: Axio Coming Soon Template
* Project Description: Axio - awesome coming soon template to kick-start your project
* Tags: axio, coming soon, under construction, template, coming soon page, html5, css3
* Version: 1.0.0
* Build Date: April-July 2017
* Last Update: July 2017
* This product is available exclusively on Themeforest
* Author: MixDesign
* Author URI: http://mixdesign.club
* File name: color-4.css (expanded)
-------------------------------------------------- */

/* ------------------------------------------------
Table of Contents
/* ------------------------------------------------
/*
/*  1. Basic Color Options
/*  2. Animated Headline Colors
/*  3. Main Section Colors
/*  4. Buttons & Triggers Colors
/*  5. Forms Colors
/*  6. Scroll Custom Colors
/*  7. About Section Colors
/*  8. Works Section Colors
/*  9. Google Map Controls Colors
/*
/* ------------------------------------------------
Table of Contents End
/* ------------------------------------------------ */

/* Basic color options */
::-moz-selection {
    background-color: #b9cdd8;
    color: #252525;
    text-shadow: none;
}

::selection {
    background-color: #b9cdd8;
    color: #252525;
    text-shadow: none;
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    color: #444;
    background-color: #ffffff;
}

a {
    color: #444;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ababab;
}

h2::after {
    background-color: #edcdc2;
}

h3 {
    color: #252525;
}

h4 {
    color: #ffffff;
}

p {
    color: #4a4a4a;
}

p span {
    color: #3b3b3b;
}

blockquote p {
    color: #252525;
}

blockquote cite {
    color: #4a4a4a;
}

.layer-black {
    background-color: rgba(0, 0, 0, 0.4);
}

.content-section {
    background-color: #ffffff;
}

@media only screen and (min-width: 1024px) {
    .main {
        background-color: #edcdc2;
    }
}

.main-intro {
    background-color: #395b6f;
}

.main-intro .headline p {
    color: #ffffff;
}

.main-intro .headline p.additional-text {
    color: #ffffff;
}

.main-intro .countdown #countdown {
    color: #ffffff;
}

.main-intro .countdown #countdown::after {
    background-color: #edcdc2;
}

.main-intro .countdown .help-text {
    color: #ffffff;
}

/* Animated Headline */
.clip .words-wrapper::after {
    background-color: #edcdc2;
}

.main-aside {
    background-color: #51829e;
    background-image: url("../../../img/patterns/pattern-color-4.svg");
    background-position: top left;
    -webkit-background-size: 21px 16px;
    -moz-background-size: 21px 16px;
    background-size: 21px 16px;
}

.no-svg .main-aside {
    background-image: url("../../../img/patterns/pattern-color-4.png");
}

.main-aside p {
    color: #ffffff;
}

.main-aside .socials ul li a {
    color: rgba(255, 255, 255, 0.6);
}

@media only screen and (min-width: 1024px) {
    .no-touch .main-aside .socials ul li:hover a {
        color: #ffffff;
    }
}

/* Menu colors (desktop only) */
@media only screen and (min-width: 1024px) {
    .menu ul li a {
        color: #ffffff;
    }

    .menu ul li a::after {
        background-color: #edcdc2;
    }
}

/* Buttons & Triggers colors */
.btn-solid {
    background-color: #edcdc2;
    color: #252525;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
}

.no-touch .btn-solid:hover {
    background-color: #f2dcd4;
}

.btn-outline {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.no-touch .btn-outline:hover {
    background-color: #ffffff;
    color: #252525;
}

.btn-outline.dark {
    color: #b3b3b3;
    border: 1px solid #b3b3b3;
}

.no-touch .btn-outline.dark:hover {
    color: #5a5a5a;
    border: 1px solid #5a5a5a;
}

.btn-outline.transparent {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.3);
}

.no-touch .btn-outline.transparent:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

/* Forms colors */
.form .inputs-description {
    color: rgba(255, 255, 255, 0.4);
}

.form-dark {
    -moz-placeholder-color: #929292;
    -ms-input-placeholder-color: #929292;
}

.form-dark ::-webkit-input-placeholder {
    color: #929292;
}

.form-dark ::-moz-placeholder {
    color: #929292;
}

.form-dark input:focus:required:invalid,
  .form-dark textarea:focus:required:invalid {
    color: #4a4a4a;
}

.form-dark input:required:valid,
  .form-dark textarea:required:valid {
    color: #4a4a4a;
}

.form-dark input, .form-dark textarea {
    border-bottom: 1px solid #252525;
    color: #4a4a4a;
}

.form-dark input:focus, .form-dark textarea:focus {
    border-bottom: 1px solid #51829e;
}

.form-dark .inputs-description {
    color: #6e6e6e;
}

.form-light {
    -moz-placeholder-color: rgba(255, 255, 255, 0.6);
    -ms-input-placeholder-color: rgba(255, 255, 255, 0.6);
}

.form-light ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.form-light ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.form-light input:focus:required:invalid,
  .form-light textarea:focus:required:invalid {
    color: rgba(255, 255, 255, 0.8);
}

.form-light input:required:valid,
  .form-light textarea:required:valid {
    color: rgba(255, 255, 255, 0.8);
}

.form-light input, .form-light textarea {
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}

.form-light input:focus, .form-light textarea:focus {
    border-bottom: 1px solid #edcdc2;
}

.form-light .inputs-description {
    color: rgba(255, 255, 255, 0.4);
}

.reply-group i {
    background-color: #edcdc2;
}

.reply-group i span {
    color: #252525;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
}

/* Popup forms colors */
.stayintouch .reply-group .reply-group__text, .stayintouch .reply-group .reply-group__title {
    color: #ffffff;
}

.stayintouch {
    background-color: #51829e;
}

.stayintouch .stayintouch-title .title {
    color: #ffffff;
}

@media only screen and (min-width: 1024px) {
    .stayintouch {
        background-color: transparent;
    }
}

.notify {
    background-color: #ffffff;
}

.notify .notify-title .title {
    color: #252525;
}

.notify .notify-title .subtitle {
    color: #444;
}

/* Scroll colors */
.mCSB_draggerContainer {
    background: #c6c6c6;
}

.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #e8e8e8;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #edcdc2;
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #edcdc2;
}

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #edcdc2;
}

/* About section colors */
.feature-item p {
    color: #444;
}

.feature-item .icon {
    background-image: url("../../../img/features/icons-sprite_dark.svg");
}

.no-svg .feature-item .icon {
    background-image: url("../../../img/features/icons-sprite_dark.png");
}

.about-blockquote {
    background-color: #f3f3f3;
    background-image: url("../../../img/backgrounds/bg-blockquote.jpg");
}

/* Works section colors */
.gallery {
    position: relative;
    padding: 0 2.4rem;
}

.gallery::after {
    clear: both;
    content: "";
    display: table;
}

@media only screen and (min-width: 768px) {
    .gallery {
        padding: 0 4.2rem;
    }
}

@media only screen and (min-width: 1024px) {
    .gallery {
        padding: 0 4.2rem 4.2rem 4.2rem;
    }
}

.my-gallery figure::after {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, transparent), to(rgba(0, 0, 0, 0.8)));
    background-image: -webkit-linear-gradient(top, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.8) 100%);
    background-image: -moz-linear-gradient(top, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.8) 100%);
    background-image: -o-linear-gradient(top, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.8) 100%);
    background-image: linear-gradient(top, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.8) 100%);
}

@media only screen and (min-width: 1024px) {
    .my-gallery figure::after {
        background-image: none;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .my-gallery figure figcaption h4::after {
        background-color: #edcdc2;
    }
}

.pswp__caption__center p {
    color: rgba(255, 255, 255, 0.6);
}

.pswp__bg {
    background: #4f5558;
}

.pswp__caption, .pswp__top-bar {
    background-color: rgba(0, 0, 0, 0.3);
}

.pswp__button--close {
    background-color: #edcdc2;
}

/* Google map colors */
#zoom-in, #zoom-out {
    background-color: #edcdc2;
    color: #252525;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
}
